body {
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    text-align: center;
    background-image: url('https://images.pexels.com/photos/1749303/pexels-photo-1749303.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); /* Buraya resmin URL'sini ekleyin */
    background-size: cover;
    background-position: center;
    color: white;
}
#timer {
    font-size: 120px;
    margin-top: 50px;
}
button {
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius:10px;
    background-color:#FFA07A;
}
#clock {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 18px;
    font-family: Arial, sans-serif;
}